/* This is main.css for RISE for the Hour of CI
   We do this to completely override any RISE settings that may be set by local install
   so that we can have a consistent user experience.
   Original credit goes to RISE team
   Anything that is broken is the fault of Eric Shook, eshook@umn.edu
*/

.transition-all {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
/* do not apply this on the <body> tag */
:not(body).rise-enabled {
  background-color: #fff;
}
.rise-enabled {

}
.rise-enabled .reveal {
  /* element-overrides */
}

.rise-enabled .reveal pre {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  font-size: 90%;
  width: 100%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.rise-enabled .reveal section img {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  border: 0px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  transition: none;
}
.rise-enabled .reveal blockquote p:first-child,
.rise-enabled .reveal blockquote p:last-child {
  display: inherit;
}
.rise-enabled .reveal a {
  color: #727272;
}
.rise-enabled .reveal:hover {
  color: #727272;
}
.rise-enabled .reveal .slides {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  text-align: left;
  font-size: 160%;
}
.rise-enabled .reveal .slide-number {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  right: 3.3em;
  bottom: 3.9em;
  font-size: 100%;
  color: #727272;
  background-color: transparent;
}
.rise-enabled .reveal .controls .navigate-left,
.rise-enabled .reveal .controls .navigate-left.enabled {
  border-right-color: #727272;
}
.rise-enabled .reveal .controls .navigate-left.enabled:hover,
.rise-enabled .reveal .controls .navigate-left.enabled.enabled:hover {
  border-right-color: #dfdfdf;
}
.rise-enabled .reveal .controls .navigate-right,
.rise-enabled .reveal .controls .navigate-right.enabled {
  border-left-color: #727272;
}
.rise-enabled .reveal .controls .navigate-right.enabled:hover,
.rise-enabled .reveal .controls .navigate-right.enabled.enabled:hover {
  border-left-color: #dfdfdf;
}
.rise-enabled .reveal .controls .navigate-up,
.rise-enabled .reveal .controls .navigate-up.enabled {
  border-bottom-color: #727272;
}
.rise-enabled .reveal .controls .navigate-up.enabled:hover,
.rise-enabled .reveal .controls .navigate-up.enabled.enabled:hover {
  border-bottom-color: #dfdfdf;
}
.rise-enabled .reveal .controls .navigate-down,
.rise-enabled .reveal .controls .navigate-down.enabled {
  border-top-color: #727272;
}
.rise-enabled .reveal .controls .navigate-down.enabled:hover,
.rise-enabled .reveal .controls .navigate-down.enabled.enabled:hover {
  border-top-color: #dfdfdf;
}
.rise-enabled .reveal .progress {
  margin-bottom: 0;
}
.rise-enabled .reveal .progress span {
  background: #727272;
}
.rise-enabled .reveal .reveal-skip,
.rise-enabled .reveal .reveal-notes {
  display: none;
}
.rise-enabled #notebook {
  overflow: hidden;
}
.rise-enabled #notebook.reveal {
  padding-top: 0px;
}
.rise-enabled #notebook-container {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  background-color: transparent;
  box-shadow: none;
  width: 100%;
  height: 100% !important;
}
.rise-enabled.ctb_global_show .ctb_hideshow.ctb_show {
  display: none;
}
.rise-enabled.ctb_global_show .ctb_show ~ .text_cell_render {
  border-style: none;
}
.rise-enabled .celltoolbar {
  height: inherit;
}
.rise-enabled .celltoolbar select,
.rise-enabled .celltoolbar .btn {
  height: inherit;
  font-size: inherit;
}
.rise-enabled .widget-area .form-control,
.rise-enabled .widget-area .dropdown-menu,
.rise-enabled .widget-area .btn {
  font-size: inherit;
}
.rise-enabled .widget-area .dropdown-menu {
  margin: 0px;
  /* cancel the settings from reveal */
}
.rise-enabled .cell li {
  line-height: 160%;
}
.rise-enabled .text_cell {
  font-size: 105%; /* Updated to improve fit for Chromebooks */
}
.rise-enabled .text_cell .prompt {
  display: none;
}
.rise-enabled .text_cell.rendered .rendered_html {
  overflow-x: hidden;
  overflow-y: hidden;
}
.rise-enabled .prompt {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  font-size: 90%;
}
.rise-enabled .output_prompt {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  margin-top: 2px;
}
.rise-enabled .output_subarea {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  margin-top: 0.05em;
  font-size: inherit;
}
.rise-enabled .CodeMirror {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  font-size: 100%;
  margin-bottom: 1ex;
}
.rise-enabled a.anchor-link {
  display: none;
}
.rise-enabled html {
  overflow-y: auto;
}
.rise-enabled .dialog kbd {
  padding: .1em .6em;
  border: 1px solid #ccc;
  font-size: 11px;
  background-color: #f7f7f7;
  color: #333;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}
.rise-enabled #header {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  opacity: 0;
  top: -200px;
    


    
}
.rise-enabled #site {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  height: 100% !important;
}
.rise-enabled #ipython-main-app {
  position: static;
}
.rise-enabled ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.rise-enabled ::-webkit-scrollbar * {
  background: transparent;
}
.rise-enabled ::-webkit-scrollbar-thumb {
  background: #727272 !important;
}
.rise-enabled #notescanvas {
  position: absolute;
  top: 0;
}
.rise-enabled #help_b,
.rise-enabled #exit_b,
.rise-enabled .chalkboard-button {
  color: #727272;
  position: fixed !important;
  z-index: 30;
  cursor: pointer;
}
.rise-enabled #exit_b {
  top: 0.55em;
  left: 0.5em;
}
.rise-enabled #help_b {
  left: 0.6em ;
  bottom: 0.55em;
}
.rise-enabled .chalkboard-button i {
  display: block !important;
  bottom: 1em !important;
  font-size: 1.8em !important;
  color: #727272 !important;
}
.rise-enabled #toggle-chalkboard.chalkboard-button {
  left: 4em !important;
}
.rise-enabled #toggle-notes {
  left: 7em !important;
}
.rise-enabled #notescanvas {
  display: block !important;
}
.rise-enabled #chalkboard {
  display: block !important;
}
#header {
/* Disable the transition (hiding) of the header
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
    */
  opacity: 1;
  top: 0px;
}
#notebook-container {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
#notebook {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.chalkboard-button i {
  display: none;
}
#notescanvas {
  display: none;
}
#chalkboard {
  display: none;
}

/* Disabling centering of content
   Source: https://github.com/damianavila/RISE/issues/166
   These did not work.

.my-outer-container {
    width:100%;
    height:100%;
    position:absolute;
    display:table;
}
.my-center-container {
    display:table-cell;
    vertical-align:middle;
    width:100%;
    height:100%:
}
*/

/* Adding this too..
   Source: https://stackoverflow.com/questions/22446161/can-i-align-reveal-js-slides-to-the-top-of-the-page 
   These did not work.
   
.reveal .slides { margin: 0; }
.slides {
    position: absolute;
    top: 0;
    left: 0;
}
*/

/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 * Edited by Eric Shook, eshook@umn.edu
 */
/*@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

div.run_this_cell {
  display: block;
}

.reveal {
  font-family: "Quicksand", Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  background-color: #fff;
  background: #fff;
  color: #222; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3em;
  font-weight: inherit; }

/* Eric Shook added this to make the background white
*/
.reveal .slide-background {
   background-color: #fff;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: normal;
  /*text-transform: uppercase;*/
  text-shadow: none;
  word-wrap: break-word; }

/* Original settings: 2.5, 1.6, 1.3, 1em */

.reveal h1 {
  font-size: 2em; }

.reveal h2 {
  font-size: 1.3em; }

.reveal h3 {
  font-size: 1.15em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  font-family: "Open Sans", Helvetica, sans-serif;
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto; /* potentially comment out again */
  /*margin: 5px 5px 20px 5px;*/
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  border: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  /*margin: 20px auto;*/ /* This broke code editing in slideshow mode... */
  
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  line-height: 1.2em;
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  /*margin: auto;*/
  margin: 5px 5px 20px 5px;
  border-collapse: collapse;
  font-size: inherit; /* Increasing font size for tables, changed from smaller */
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }


.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */}

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2a76dd; }

/* Hide the navigation up/down arrows and subslide numbers */
.reveal .controls .navigate-up   {display:none; visibility: hidden;}
.reveal .controls .navigate-down {display:none; visibility: hidden;}
.reveal .slide-number .slide-number-delimiter {display:none; visibility: hidden;}
.reveal .slide-number .slide-number-b {display:none; visibility: hidden;}


/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a76dd; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }


/*********************************************
 * HOUR OF CI CUSTOMIZATION
 *********************************************/

div.hciheader {
  /* background-image: url(https://github.com/hourofci/lessons-dev/raw/master/template/supplementary/hippo-logo.png); */
  /* background-image: url(supplementary/hippo-hci-tiny.png); */
  background-image: url(https://raw.githubusercontent.com/hourofci/lessons-dev/master/template-lesson/template/supplementary/hippo-hci-tiny.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-color: #fff;
  margin: 20px 20px 20px 20px;
  height: 100px;

  /* Override transition so that the logo always displays */
  transition-property: none !important;
  transition-duration: 0s !import;   
  z-index: 99 !important;
  opacity: 1;
}

div.hcifooter {
    
}
