#algorithm-area.function, #try-burn, .block.function {
  background-color: rgb(230, 159, 0);
  border-radius: 15px;
  font-size: 25px;
}
#algorithm-area.function {
  padding: 20px;
  width: 270px;
}
#algorithm-area:not(.function) {
  font-size: 25px;
  width: 210px;
}
#algorithm-area:not(.function) .block {
  font-size: 15px;
  margin: 0;
  padding: 5px;
}
#algorithm-area.function .block,
#try-burn .block {
  font-size: 20px;
  margin: 0;
}
#block-area { position: relative; }
#dice-result { margin-left: 25px; }
#hand { display: none; }
@keyframes move-function-into-place {
  from { margin-left:  20px; margin-top:  20px; }
    to { margin-left: -35px; margin-top: -55px; }
}
@-webkit-keyframes move-function-into-place {
  from { margin-left:  20px; margin-top:  20px; }
    to { margin-left: -35px; margin-top: -55px; }
}
#look-group-2 {
  position: absolute;
  opacity: 0;
  top: 0;
}
#try-burn {
  border: 1px solid black;
  cursor: pointer;
  padding: 5px;
}
.var.block {
  background-color: lightgray;
  padding: 5px;
}
